* {
    margin: 1%;
    font-family: Arial, sans-serif;
}

div h1 {
    color: rgb(97, 89, 89);
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 25px;
}